<body class="">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 text-center " id="formreg">

      <form class="needs-validation" #registerForm="ngForm" (ngClick)="onSubmit()" (ngSubmit)="onSubmit(registerForm)" novalidate>

        <div class="form-row">
          

          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" name="name" [ngClass]="{'form-control is-valid': name.valid, 'form-control is-invalid': !name.valid && name.touched, 'form-control': 1==1 }" id="validationCustom01" #name="ngModel" [(ngModel)]="Model_user.name" placeholder="First name" value="Mark" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" [ngClass]="{'form-control is-valid': surname.valid, 'form-control is-invalid': !surname.valid && surname.touched, 'form-control': 1==1 }" id="validationCustom02" placeholder="Last name" name="surname" #surname="ngModel"
            [(ngModel)]="Model_user.surname" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid Last Name.
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Character</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input type="text" [ngClass]="{'form-control is-valid': character.valid, 'form-control is-invalid': !character.valid && character.touched, 'form-control': 1==1 }" id="validationCustomUsername" placeholder="nickname" name="character" #surname="ngModel"
              [(ngModel)]="Model_user.character" aria-describedby="inputGroupPrepend"
                required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                  Please provide a valid name.
                </div>
            </div>
          </div>

        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" class="form-control"  [ngClass]="{'form-control is-valid': email.valid, 'form-control is-invalid': !email.valid && email.touched, 'form-control': 1==1 }" id="validationCustom03" placeholder="email@email.dom" [(ngModel)]="Model_user.email" #email="ngModel" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Password</label>
            <input type="password" [ngClass]="{'form-control is-valid': password.valid, 'form-control is-invalid': !password.valid && password.touched, 'form-control': 1==1 }" id="validationCustom04" placeholder="password" name="password" #surname="ngModel"
            [(ngModel)]="Model_user.password" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">Zip</label>
            <input type="text" [ngClass]="{'form-control is-valid': image.valid, 'form-control is-invalid': !image.valid && image.touched, 'form-control': 1==1 }" id="validationCustom05" placeholder="Zip" name="image" #surname="ngModel"
            [(ngModel)]="Model_user.image" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>
        </div>
        <br>       
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>

  




</body>