<body class="">
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 text-center " id="formreg">

      <form class="needs-validation" name="registerForm" #registerForm="ngForm" novalidate>

        <div class="form-row">
          

          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" name="name" [ngClass]="{'form-control is-valid': name.valid, 'form-control is-invalid': !name.valid && name.touched, 'form-control': 1==1 }" id="validationCustom01" #name="ngModel" [(ngModel)]="Model_user.name" placeholder="First name" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>

          <div class="col-md-4 mb-3">
              <label for="validationCustom02">Last name</label>
              <input type="text" name="lastnm" [ngClass]="{'form-control is-valid': lastnm.valid, 'form-control is-invalid': !lastnm.valid && lastnm.touched, 'form-control': 1==1 }" id="validationCustom02" #lastnm="ngModel" [(ngModel)]="Model_user.surname" placeholder="Last name" required>
              <div class="valid-feedback">
                  Looks good!
                </div>
              <div class="invalid-feedback">
                Please provide a valid name.
              </div>
            </div>

          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Character</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" name="nicknm" #nicknm="ngModel" [(ngModel)]="Model_user.nick" [ngClass]="{'form-control is-valid': nicknm.valid, 'form-control is-invalid': !nicknm.valid && nicknm.touched, 'form-control': 1==1 }" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
                <div class="invalid-feedback">
                  Please provide a valid name.
                </div>
              </div>
          </div>

        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" class="form-control"  [ngClass]="{'form-control is-valid': email.valid, 'form-control is-invalid': !email.valid && email.touched, 'form-control': 1==1 }" id="validationCustom03" placeholder="email@email.dom" [(ngModel)]="Model_user.email" #email="ngModel" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid email.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Password</label>
            <input type="password" [ngClass]="{'form-control is-valid': passwd.valid, 'form-control is-invalid': !passwd.valid && passwd.touched, 'form-control': 1==1 }" id="validationCustom04" placeholder="password" name="passwd" #passwd="ngModel"
            [(ngModel)]="Model_user.password" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">image</label>
            <input type="text" [ngClass]="{'form-control is-valid': image.valid, 'form-control is-invalid': !image.valid && image.touched, 'form-control': 1==1 }" id="validationCustom05" placeholder="image" name="image" #image="ngModel"
            [(ngModel)]="Model_user.image" required>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="invalid-feedback">
              Please provide a valid name.
            </div>
          </div>
        </div>
        <br>       
        <button [ngClass]="{'btn btn-lg btn-primary': true }" type="button" (click)="onSubmit(registerForm)" [disabled]="!registerForm.valid">Sign Up</button>

        <!-- <button [ngClass]="{'btn btn-lg btn-success': true }" type="button" (click)="onSubmit(registerForm)" >%i'm a test%</button> -->
      </form>
    </div>
  </div>

  




</body>