<script src="https://use.typekit.net/hoy3lrg.js"></script>



<script>try { Typekit.load({ async: true }); } catch (e) { }</script>

<body class="bg-light">

  <div id="frame">

    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" [src]="user.image" class="online" alt="" style="height: 55px; width: 55px" />
          <p>{{user.nick}}</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active">
                <span class="status-circle"></span>
                <p>Online</p>
              </li>
              <li id="status-away">
                <span class="status-circle"></span>
                <p>Away</p>
              </li>
              <li id="status-busy">
                <span class="status-circle"></span>
                <p>Busy</p>
              </li>
              <li id="status-offline">
                <span class="status-circle"></span>
                <p>Offline</p>
              </li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter">
              <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
            </label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter">
              <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
            </label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter">
              <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
            </label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
        </div>
      </div>
      <div id="search">
        <label for="">
          <i class="fa fa-search" aria-hidden="true"></i>
        </label>
        <input type="text" placeholder="Search contacts..." />
      </div>

      <div id="contacts">
        <ul>
          <li class="contact" *ngFor="let f of followings" (click)="LoadChatbyUser(f)">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img [src]="f.followed.image" alt="" style="height: 45px; width: 45px" />
              <div class="meta">
                <p class="name">{{f.followed.nick}}</p>
              </div>
            </div>
          </li>
          <!-- <li class="contact active">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="https://image.flaticon.com/icons/svg/236/236822.svg" alt="" />
              <div class="meta">
                <p class="name">Harvey Specter</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status away"></span>
              <img src="https://image.flaticon.com/icons/svg/167/167750.svg" alt="" />
              <div class="meta">
                <p class="name">Rachel Zane</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="" />
              <div class="meta">
                <p class="name">Donna Paulsen</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="https://image.flaticon.com/icons/svg/236/236832.svg" alt="" />
              <div class="meta">
                <p class="name">Jessica Pearson</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status"></span>
              <img src="https://image.flaticon.com/icons/svg/265/265666.svg" alt="" />
              <div class="meta">
                <p class="name">Harold Gunderson</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status"></span>
              <img src="https://image.flaticon.com/icons/svg/236/236842.svg" alt="" />
              <div class="meta">
                <p class="name">Daniel Hardman</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="https://image.flaticon.com/icons/svg/265/265674.svg" alt="" />
              <div class="meta">
                <p class="name">Katrina Bennett</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status"></span>
              <img src="https://image.flaticon.com/icons/svg/201/201557.svg" alt="" />
              <div class="meta">
                <p class="name">Charles Forstman</p>
              </div>
            </div>
          </li>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status"></span>
              <img src="https://image.flaticon.com/icons/svg/145/145864.svg" alt="" />
              <div class="meta">
                <p class="name">Jonathan Sidwell</p>
                <p class="preview">
              </div>
            </div>
          </li> -->
        </ul>
      </div>

    </div>

    <div class="content">

      <div class="contact-profile">
        <img [src]="userClick.image" alt="" style="height: 45px; width: 45px" />
        <p>{{userClick.nick}}</p>
        <div class="social-media">

          <a class="container">
            CHAT
          </a>

        </div>
      </div>

      <div class="messages container">

        <p *ngIf="userClickChat?.message.length == 0">Aún no tienes conversaciones con
          <b>{{userClick.nick}}</b>
        </p>

        <ul>
          <li class="{{ (user?._id == m.emitter?._id) ? 'replies' : 'sent'}}" *ngFor="let m of userClickChat?.message">
            <img [src]="m.emitter.image" alt="" style="height: 30px; width: 30px" />
            <p>{{m.text}}</p>
          </li>
        </ul>

      </div>

      <div class="message-input">
        <div class="wrap">

          <input type="text" [(ngModel)]="text" #t="ngModel" id="t" placeholder="Write your message..." />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="createMessage()">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>

        </div>
      </div>

    </div>

  </div>

</body>