<script src="https://use.typekit.net/hoy3lrg.js"></script>



<script>try { Typekit.load({ async: true }); } catch (e) { }</script>

<body class="bg-light">

  <div id="frame">

    <div id="sidepanel">
      <div id="profile" class="flash animated">
        <div class="wrap">

          <div class="row">
            <div class="col-md-2">
              <div class="rounded-circle" id="box-mini" style="margin-left: 4px">
                <div class="d-flex justify-content-center ">
                  <img id="profile-img" [src]="user.image" id="mini-image" />
                </div>
              </div>
            </div>
            <div class="col">
              <p>{{user.nick}}</p>
            </div>
          </div>

        </div>
      </div>
      <div id="search">
        <label for="">
          <i class="fa fa-search" aria-hidden="true"></i>
        </label>
        <input type="text" placeholder="Search contacts..." />
      </div>

      <div id="contacts">

        <ul>
          <li class="contact bounceInRight animated" *ngFor="let f of followings" (click)="LoadChatbyUser(f)">
            <div class="wrap">

              <div class="row">

                <div class="col-sm-1 col-md-3">

                  <div class="rounded-circle" id="box-mini">
                    <div class="d-flex justify-content-center flash animated">
                      <img src="{{f.followed.image}}" id="mini-image">
                    </div>
                  </div>

                </div>

                <div class="col">
                  <div class="meta ">
                    <p class="name">{{f.followed.nick}}</p>
                  </div>
                </div>

              </div>

            </div>
          </li>
        </ul>

      </div>

    </div>

    <div class="bd-highlight content">

      <div class="contact-profile ">
        <div class="rounded-circle flash animated" style="width: 45px;
        height: 45px;
        display: inline-block;             
        margin: 10px;
        overflow: hidden;
        ">
          <div class="d-flex justify-content-center">
            <img [src]="userClick.image" alt="" id="mini-image" style="height: 45px;" />
          </div>
        </div>

        <div class="social-media" style="margin-top: 30px;">

          <a class="container">
            <p>{{userClick.nick}}</p>
            CHAT
          </a>

        </div>
      </div>

      <div class="messages bounceInRight animated" id="chateo1">
        <div style="margin: 10px">
          <p *ngIf="userClickChat?.message.length == 0">
            <b>
              <> {{userClick.nick}}
                <>
            </b>
          </p>
        </div>

        <ul class="bounceInRight animated">
          <li class="{{ (user?._id == m.emitter?._id) ? 'replies' : 'sent'}}" *ngFor="let m of userClickChat?.message; ">

            <div style="
            height: 30px;
            width: 30px;
            display: inline-block;
            position: relative;
            overflow: hidden; ">
              <span class="d-flex justify-content-center">
                <img [src]="m.emitter.image" style="width: auto;
                height: 30px;
                display:block;
                margin:auto;
                float: left;" /> </span>

            </div>
            <p>{{m.text}}
              <br> </p>

          </li>

          {{mess()}}
        </ul>

      </div>

      <div class="message-input">
        <div class="wrap">

          <input type="text" [(ngModel)]="text" #t="ngModel" id="t" (keyup.enter)="createMessage()" placeholder="Write your message..."
          />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="createMessage()">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>


        </div>
      </div>

    </div>

  </div>

</body>