<body class="bg-light">

  <div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
      <a class="nav-link active" href="#">{{resMsg.summary}}</a>
      <a class="nav-link" href="#">
        {{resMsg.followers}}
        <span class="badge badge-pill bg-light align-text-bottom">{{Counters.followers}}</span>
      </a>
      <a class="nav-link" href="#">
        {{resMsg.following}}
        <span class="badge badge-pill bg-light align-text-bottom">{{Counters.following}}</span>
      </a>
      <a class="nav-link" href="#">
        {{resMsg.publications}}
        <span class="badge badge-pill bg-light align-text-bottom">{{Counters.publications}}</span>
      </a>
      <a class="nav-link" href="#">Explore</a>

    </nav>
  </div>

  <main role="main" class="container">

    <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded bg-danger box-shadow">
      <img class="mr-3" src="https://orig00.deviantart.net/01ff/f/2015/186/c/1/tiny_african_wild_dog_copyx2_by_e_pona-d9022vd.png"
        alt="" width="50" height="50">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">Requiem</h6>
        <small>Since 2018</small>
      </div>
    </div>

    <div class="row mb-2" *ngIf="false">

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Featured post</a>
            </h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Continue reading</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">Post title</a>
            </h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#">Continue reading</a>
          </div>
        </div>
      </div>

    </div>



    <div class="row">

      <div class="col-xs-12	col-sm-12	col-md-5 col-lg-4 col-xl-4">
        <div class="card md-row mb-4 box-shadow h-md-250">


          <div class="contain1">
            <img id="profileImage" [src]="userData.image" [ngClass]="
                  {                  
                  'image2 card-img-top': loading,
                  'image1 card-img-top': !loading,
                  'card-img-top': 1==1
                  }">
            <div class="middle1" [ngStyle]="{'opacity': loading ? '1' : '' }">
              <div style="display: none">>
                <input class="form-control-file" id="pic" style="display: none" type="file" (change)="onChange($event)" [attr.disabled]="loading ? 'disabled' : null">
              </div>
              <a class="navbar-brand d-flex align-self-start mr-3" id="item" onclick="document.getElementById('pic').click()" style="font-size: 15px; margin-top: 3px ; color:rgb(255, 255, 255); cursor: pointer">
                <img *ngIf="loading" src="http://v6.player.abacast.net/assets/images/loading.gif" style="height: 50px; widows: 50px; ">
                <img *ngIf="!loading" class="d-flex align-self-start mr-3" src="https://image.flaticon.com/icons/svg/685/685686.svg" style="width: 30px;">

                <b *ngIf="!loading" style="margin-left: -10px;text-shadow: 2px 2px 2px rgb(0, 0, 0);">Seleccionar_archivo</b>
              </a>
            </div>


          </div>

          <div class="card-body d-flex flex-column align-items-start">
            <h5 class="card-title">{{userData.name}} {{userData.surname}}</h5>
            <p class="card-text">@{{userData.nick}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{userData.email}}</li>
          </ul>
          <div class="card-body">
            <button [ngClass]="{'btn btn-outline-danger btn-sm': true }" type="button" (click)="logOut()">{{resMsg.sign_out}}</button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12	col-md-7 col-lg-8 col-xl-8">

        <!-- Start Publication Section-->

        <div class="card mb-4 box-shadow">
          <form #PublicationForm="ngForm" (ngSubmit)="post_Publication(PublicationForm)" novalidate>
            <div class="card-body">

              <h6 class="border-bottom border-gray pb-2 mb-0">{{resMsg.publications}}</h6>
              <textarea ngModel name="publication" class="form-control mb-2" id="publication" rows="3" style="resize: none"></textarea>

              <div class="row">
                <div class="col-xs-6 col-sm-6	col-md-6 col-lg-6 col-xl-6 col-12">

                  <input class="form-control-file" id="pic" style="display: none" type="file" (change)="onChange($event)">
                  <a class="navbar-brand d-flex align-self-start mr-3" id="item" onclick="document.getElementById('pic').click()" style="font-size: 15px; margin-top: 3px ; color:#EBBA16; cursor: pointer">
                    <img class="d-flex align-self-start mr-3" src="https://image.flaticon.com/icons/svg/148/148945.svg" style="width: 22px;">
                    <b style="margin-left: -10px">Seleccionar archivos</b>
                  </a>

                </div>
                <div class="col-xs-6 col-sm-6	col-md-6 col-lg-6 col-xl-6 col-12">

                  <div class="text-right">
                    <button class="btn btn-success text-right">Añadir</button>
                    <button class="btn btn-primary text-right" (click)="testSocket()">socket</button>
                  </div>

                </div>
              </div>

            </div>
          </form>
        </div>

        <!-- End Publication Section-->

        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column ">
           
              <h6 class="border-bottom border-gray pb-2 mb-0">{{resMsg.recents}}</h6>

              <div *ngFor="let pubs of recentPubs">

                <div class="media text-muted pt-3">
                  <div class="mr-2 rounded " id="box-mini">
                    <div class="d-flex justify-content-center">
                        <img data-src="{{userData.image}}"  id="mini-image" >
                    </div>                    
                  </div>


                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@{{userData.nick}}</strong>{{pubs.text}}</p>
                </div>
              </div>


            
          </div>
        </div>

      </div>

    </div>



    <!-- <div class="col-md-6">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="{{userData.image}}" alt="Card image cap">
          <div class="card-body d-flex flex-column align-items-start">
            <h5 class="card-title">{{userData.name}}</h5>
            <p class="card-text">@{{userData.nick}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{userData.email}}</li>            
          </ul>
          <div class="card-body">
            <button [ngClass]="{'btn btn-outline-danger btn-sm': true }" type="button" (click)="logOut()">{{resMsg.sign_out}}</button>
          </div>
        </div>
      </div> -->












  </main>



</body>