<!--The content below is only a placeholder and can be replaced.-->
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="#">
      <img src="https://i.downloadatoz.com/download/icon2/7/b/c/c05e57329565cdc3c8348966da161cb7.jpg" alt="" width="20">
    </a>
    <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Timeline</a>
    
    
    <a class="py-2 d-none d-md-inline-block" href="#">Characters</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Profile</a>
    
  </div>
</nav>

<router-outlet></router-outlet>



