

<nav class="site-header sticky-top" *ngIf="ident" id="navbarHeader">
  <div class="container d-flex flex-md-row justify-content-between">
    <a class="py-2" routerLink="/home">
      <img src="https://image.ibb.co/j3jkdm/afaw.png" alt="" width="20">
    </a>
    <a class="py-2 d-md-inline-block" routerLink="/timeline">{{resMsg.timeline}}</a>
    
    <a class="py-2 d-md-inline-block" routerLink="/profile">{{resMsg.profile}}</a>
    <div class="py-2 d-md-inline-block">
      
      <button [ngClass]="{'btn btn-outline-danger btn-sm': true }" type="button" (click)="logOut()">{{resMsg.sign_out}}</button>
    </div> 

  </div>
</nav>

<nav class="site-header sticky-top" *ngIf="!ident">
  <div class="container d-flex flex-md-row justify-content-between">
    <a class="py-2">
      <img src="https://image.ibb.co/j3jkdm/afaw.png" alt="" width="20">
    </a>
    <a class="py-2 d-md-inline-block" routerLink="/login">{{resMsg.login}}</a>
    <a class="py-2 d-md-inline-block" routerLink="/register">{{resMsg.sign_in}}</a>




  </div>
</nav>

<router-outlet ></router-outlet>

<div id="foo"></div>