<body>

  <div>
    <div class="card">
      <div class="card-header">

        <div class="row">
          <!-- User Image -->
          <div class="col-sm-12 col-md-6">
            <div class="card bg-white text-white">
              <img class="card-img" src="{{userData.image}}" alt="Card image" id="imgid1">
              <div class="card-img-overlay">

              </div>
            </div>
            <div class="card border-light mb-3">
              <h4 class="card-header">@{{userData.nick}}</h4>
            </div>

          </div>
          <!--  -->
          <div class="col-sm-12 col-md-3">
            <!-- Update image -->
            <div class="card text-white bg-dark mb-3">
              <h5 class="card-header">{{resMsg.image_upt}}</h5>

              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                {{resMsg.upload}}
              </button>

              <!-- Modal -->
              <div id="myModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">

                    <div class="modal-body">
                      <div>
                        <input type="file" style="color: black" placeholder="{{resMsg.upload}}" (change)="fileChangeEvent($event)">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button [disabled]="upt_button" type="button" class="btn btn-outline-primary" (click)="upt_file()" data-target="#myModal">{{resMsg.upload}}</button>
                      <button style='display:none;' id="CloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- User Data -->
            <div class="card text-white bg-info mb-3">
              <h5 class="card-header">{{resMsg.data_upt}}</h5>
              <div class="card-body">
                <h5 class="card-title">
                  
                  
                </h5>

              </div>
            </div>            
          </div>

          <div class="col-sm-12 col-md-3">
            <div class="card text-white bg-primary mb-3">
              <h5 class="card-header">{{resMsg.profile_work_zone}}</h5>
              <div class="card-body">

              </div>
            </div>
            <div class="card text-white bg-success mb-3">
              <h5 class="card-header">{{resMsg.profile_set1}}</h5>
              <div class="card-body">

              </div>
            </div>
          </div>
          <!-- Publication -->
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">{{resMsg.publication}}</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" (click)="post_Publication()" class="btn btn-primary btn-lg btn-block">{{resMsg.post}}</button>
          </div>

        </div>

        <div class="row">

        </div>

      </div>
      <div class="card-body">

        <div class="row mb-2" *ngIf="true">

          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Featured post</a>
                </h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">Post title</a>
                </h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#">Continue reading</a>
              </div>
            </div>
          </div>

        </div>



      </div>
    </div>
  </div>




</body>