
#box-mini{
  width: 32px;
  height: 32px;
  display: inline-block;                      
  position: relative;
  overflow: hidden;
}

#mini-image{
  width: auto;
  height: 32px;
  display:block;
  margin:auto;
}