<body>

  <div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
      <a class="nav-link active"  [routerLink]="['/timeline']" [queryParams]="{ tab: 'lobby' }">{{resMsg.home}}</a>
      <a class="nav-link" [routerLink]="['/timeline']" [queryParams]="{ tab: 'chats' }">
        {{resMsg.chats}}
        <span class="badge badge-pill bg-light align-text-bottom">
          <span class="badge badge-danger">9</span>
        </span>

      </a>
      <a class="nav-link"  [routerLink]="['/timeline']" [queryParams]="{ tab: 'lobby' }">
        {{resMsg.users}}
        <span class="badge badge-pill bg-light align-text-bottom"></span>
      </a>

    </nav>
  </div>
  <main role="main" class="container-x1">

    <chat *ngIf="tabs[3]; false"></chat>
    <lobby *ngIf="tabs[0]; false"></lobby> 

 
  </main>

</body>